src/main/java/jaxb/in.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="pliki">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="zawartosc"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="zawartosc">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NMTOKEN">
                    <xs:attribute name="plik" use="required" type="xs:NCName"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
